### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [2]:
song="Row, row, row your boat. Gently down the stream.Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
song.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [7]:
name=input("enter name ")
color=input("enter color ")
animal=input("enter an animal ")
print("{} had a little {}".format(name,animal))
print("it was {} as snow".format(color))
print("And everywhere that {} went, the {} was sure to go".format(name,animal))

enter name marry
enter color white
enter an animal lamb
marry had a little lamb
it was white as snow
And everywhere thatmarry went, the lamb was sure to go

3. Print 3.14159 in a scientific number notation

In [15]:
no1=3.14159
print(f"{no1:.2e}")

3.14e+00

4. Print 3.1559 in 3 decimal places

In [17]:
no1=3.1559
print(f"{no1:.2f}")

3.16

5. Print 1589.92341 in a scientific number notation to the power of 3

In [20]:
no1=1589.92341
print(f"{no1:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [2]:
print(39//2)
print(39%2)

19
1

In [4]:
print(19//2)
print(19%2)

9
1

In [5]:
print(9//2)
print(9%2)

4
1

In [6]:
print(4//2)
print(4%2)

2
0

In [7]:
print(2//2)
print(2%2)

1
0

In [8]:
print(1//2)
print(1%2)

0
1

In [9]:
bin(39)

'0b100111'

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [10]:
print(39//8)
print(39%8)

4
7

In [11]:
print(8//8)
print(8%8)

1
0

In [12]:
print(1//8)
print(1%8)

0
1

In [13]:
oct(39)

'0o47'

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [14]:
print(39//16)
print(39%16)

2
7

In [15]:
print(2//16)
print(2%16)

0
2

In [16]:
hex(39)

'0x27'

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [60]:
amount=int(input("enter the amount" ))
tax = float(input("enter tax rate:{} "))
total= amount + format(tax.2%)
print(total)

SyntaxError: invalid syntax (<ipython-input-60-ad4488b7602a>, line 3)